@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    /* background-color: black; */
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin:auto;
}

/* Navbar Styling */
.navbar{
    position: fixed;
    width: 100%;
    padding: 30px 0;
    background: rgb(3, 3, 3);
    font-family: 'Ubuntu', sans-serif;
}

.navbar .logo a{
    color: white;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span{
    color: crimson;
}

.navbar .menu li{
    display: inline-block;
    list-style: none;
}

.navbar .menu li a{
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
}

.navbar .menu li a:hover{
    color: crimson;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* home section styling */
.home{
    display: flex;
    background:url("images/banner.jpg") no-repeat center;
    height: 100vh;
    color: white;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width{
    margin: auto 0 auto 40px;
}

.home .home-section .text-1{
     font-size: 27px;
}

.home .home-section .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;

}

.home .home-section .text-3{
    font-size: 40px;
    margin: 5px 0;
}

.home .home-section .text-3 span{
    font-weight: 500;
    color: crimson;
}

.home .home-section a{
    display: inline-block;
    color: white;
    background-color: crimson;
    padding: 12px 36px; 
    border-radius: 5px;
    margin-top: 20px;
    font-size: 25px;
    border: 2px solid crimson;
}

.home .home-section a:hover{
    background: none;
}

/* About Section Styling */
section{
    padding: 100px 0 ;
}
.about{
    font-family: 'Poppins', sans-serif;
}

.about .title{
    font-family: 'Ubuntu' , sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 60px;
    padding-bottom: 20px;
}
.about .about-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.about .about-section .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 20px;
}

.about .about-section .left{
    width: 45%;
}

.about .about-section .right{
    width: 55%;
}

.about .about-section .right .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-section .right .text span{
    color: crimson;
}

.about .about-section .right .text p{
    text-align: justify;
}


/* My Gallery Styling */
.content{
    display: flex;
    width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.grid-image{
    display: block;
    padding-right: 20px;
    padding-bottom: 20px;
    transition: 1s;

}

.grid-image:hover{
    transform: scale(1.3);
    z-index: 3;
}

.gallery .title{
    padding-top: 60px;
    color: white;
    font-family: 'Ubuntu' , sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 60px;
    padding-bottom: 20px;
}

.gallery{
    background-color: black;
}


/* Contact Me Styling */
.contact .title{
    padding-top: 60px;
    /* color:x white; */
    font-family: 'Ubuntu' , sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 60px;
    padding-bottom: 20px;
}


.contact-content{
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 800px;
    max-width: 800px;
    padding: 25px 40px 25px 40px;
}


.contact-content form{
    padding: 30px 0 0 0 0;
}

.contact-content form .form-row{
    display: flex;
    margin: 32px 0 ;
}

.contact-content form .input-data{
    width: 100%;
    padding-left: 10px;
    height: 40px;
    position: relative;
}

.contectform{
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-data input{
    display: block;
    height: 100%;
    width: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid rgba(0,0,0,0.12);
}

/* Media query */
@media (max-width:1094px){
    .about .about-section .left img{
        height: 350px;
        width: 350px;
    }

}

@media (max-width:984px){
    .max-width{
        max-width: 800px;
    }

    .about .about-section .coloumn{
        width:100%;
    }

    .about .about-section .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    
    .about .about-section .right{
    flex: 100%;
    }
}


@media (max-width: 1059px){
    .home .home-section .text-2{
        font-size: 60px;
    }
    
    .home .home-section .text-3{
        font-size: 35px;
    }

    .home .max-width{
        margin: auto 0 auto 18px;
    }

    .home .home-section a{
        font-size: 20px;
        padding: 10px 30px;
    }
}

@media (max-width: 799px){
    .home .home-section .text-2{
        font-size: 55px;
    
    }
    
    .home .home-section .text-3{
        font-size: 30px;
    }

    .home .max-width{
        margin: auto 0 auto 15px;
    }

    .home .home-section a{
        font-size: 15px;
        padding: 5px 25px;
    }
}

@media (max-width: 719px){
    .home .home-section .text-2{
        font-size: 50px;
    
    }
    
    .home .home-section .text-3{
        font-size: 25px;
    }

    .home .max-width{
        margin: auto 0 auto 10px;
    }

    .navbar .max-width{
        display: inline-block;
    }

    .navbar .menu li a{
        margin-left: 5px;
    }

    

}

@media (max-width: 567px){
    .home .home-section .text-2{
        font-size: 40px;
    
    }
    
    .home .home-section .text-3{
        font-size: 20px;
    }

    .home .max-width{
        margin: auto 0 auto 5px;
    }

    .navbar .menu li{
        display: block;
    }

    .navbar .menu li a{
        margin-left: 5px;
        margin-top: 10px;
    }

    .home .home-section a{
        font-size: 10px;
        padding: 4px 20px;
    }

}

@media (max-width: 686px){
    .navbar{background: crimson;}
    .navbar .logo a span{
        color: floralwhite;
    }

    .navbar .menu li a:hover{
        color: gold;
    }

    .grid-image{
        flex-basis: 50%;
    }
}

@media (max-width:585px) {
    .contact-content form .form-row{
        flex-direction: column;
    }

    .contact-content form .input-data{
        margin-bottom: 22px;
    }
    
}